<header>
    <mat-toolbar>
        <button mat-flat-button (click)="prevPage()">prev page</button>
        @if (currentPage$ | async; as currentPage) {
        <p>current page : {{currentPage}}</p>
        }
        <button mat-flat-button (click)="nextPage()">next page</button>
    </mat-toolbar>
</header>

<main>
    @if (currentPageData$ | async; as pasengers) {
    @for (pasenger of pasengers; track $index) {
    <mat-list role="list">
        <mat-list-item role="listitem">{{pasenger.name}}</mat-list-item>
    </mat-list>
    }
    }
    @else {
    <mat-spinner />
    }
</main>